* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  width: 100%;
  height: 100%;
}
main{
  width: 100%;
  background: radial-gradient(circle at 70% 30%, #973609 0%, #050314 80%);
  background: linear-gradient(380deg, #944f34 0%,  #311480 100%,#050314 100%);
  padding: 10px 25px;
}
header nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:5px 100px;
}
header nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-size: 18px;
  font-weight: bold;
}

header nav ul li {
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav ul li:hover {
font-size: 17px;
color: rgb(190, 44, 130);
}
.hamburger-icon i{
  font-size: 28px;
  cursor: pointer;
  transition: all 0.3s ease;

}
.hamburger-icon i:hover{
  font-size: 27px;
}
.hero{
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
}

.left-text img{
   width: 450px;
   height: 300px;
   object-fit: cover;
}
.left-text p{
  color: rgb(179, 179, 179);
  font-size: 18px;
}
.left-text button{
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
    cursor: pointer;
  transition: all 0.3s ease;
}
.left-text button:hover{
  scale: 0.9;
}
.left-text button:nth-child(1){
  background:linear-gradient(90deg,rgb(161, 11, 81),orangered ,orange);
}
.left-text button:nth-child(2){
  background:transparent;
  border: 1px solid rgb(231, 41, 104);
}
.left-text button i{
  font-size: 19px;
  font-weight: bold;
  color:white;
}

.right-img img{
  width: 670px;
  height: 470px;
  object-fit: cover;
}

.bottom-card-container{
  margin-top: 10px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.bottom-card-container .img-card img{
  border-radius: 25px;
  width: 350px;
  height: 230px;
  object-fit: cover;
  cursor: pointer;
} 