
:root{
     --atlas-font-family: Figtree, sans-serif;
    --atlas-text-primary: #201C1A;
    --atlas-text-secondary: #201C1A80;
    --atlas-font-weight-normal: 400;
    --atlas-heading-font-family: Reckless, Helvetica, Arial, sans-serif;
    --atlas-heading-text-primary: #201C1A;
    --atlas-heading-text-secondary: #201C1A80;
    --atlas-font-weight-heading: 300;
    --atlas-button-primary: #2A2757;
    --atlas-primary-color: #2A2757;
    --atlas-button-text-transform: none;
    --atlas-button-border-radius-small: 16px;
    --atlas-button-border-radius-normal: 20px;
    --atlas-button-border-radius-tiny: 12px;
    --atlas-input-border-radius-small: 16px;
    --atlas-input-border-radius-normal: 20px;
    --atlas-card-border-radius-small: 24px;
    --atlas-card-border-radius-normal: 32px;
    --atlas-toast-border-radius: 24px;
    --atlas-thumbnail-border-radius: 16px;
    --atlas-tabs-border-radius: 26px;
    --atlas-progress-bar-border-radius: 4px;
    --atlas-text-primary-inverse: #FFFFFF;
    --atlas-background-main: #FBF9EB;
    --atlas-background-content: #FFFFFF;
    --atlas-chip-border-radius: 12px;
    --atlas-drawer-inset-border-radius: 12px;
    --atlas-border-light: rgba(0, 0, 0, 0.05);
    --atlas-border-dark: rgba(0, 0, 0, 0.5);
    --atlas-overlay-light: rgba(0, 0, 0, 0.05);
    --atlas-overlay-medium: rgba(0, 0, 0, 0.15);
    --atlas-overlay-heavy: rgba(0, 0, 0, 0.5);
    --atlas-loading-skeleton-color: rgba(0, 0, 0, 0.05);
    --atlas-loading-skeleton-highlight-color: rgba(0, 0, 0, 0.02);
    --atlas-favorites-font-family: undefined;
    --atlas-favorites-font-weight: undefined;
    --atlas-favorites-font-color: undefined;
    --atlas-favorites-fill-color: rgba(255, 255, 255, 0);
    --atlas-favorites-icon-color: undefined;
    --atlas-favorites-hub-icon-color: #C8102E;
    --atlas-faq-font-family: inherit;
    --atlas-faq-font-weight: 500;
    --atlas-faq-font-color: #FFFFFF;
    --atlas-faq-fill-color: #F27A73;
    --atlas-widget-side-spacing: 40px;
    --atlas-widget-bottom-spacing: 40px;
    --atlas-widget-starting-radius: 50px;
    --atlas-widget-background-color: #FFFFFF;

}

:root {
    --gfb-primary-color: #1c1c1c;
    --gfb-primary-text-color: #FFFFFF;
    --gfb-secondary-color: #FFFFFF;
    --gfb-form-width: 600px;
    --gfb-form-padding: 30px;
    --gfb-form-sm-padding: 15px;
    --gfb-form-sm-font-size: 12px;
    --gfb-form-default-font-size: 14px;
    --gfb-form-description-font-size: 16px;
    --gfb-material-line-height: 1.5714285714;
    --gfb-default-heading-1-font-size: 26px;
    --gfb-default-heading-2-font-size: 19px;
    --gfb-default-heading-3-font-size: 17px;
    --gfb-rounded-radius: 20px;
    --gfb-dropzone-bg-color: #f1f1f1;
    --gfb-form-image-basis: 40%;
    --gfb-form-basis: 60%;
    --gfb-color-text: 28, 28, 28;
    --gfb-color-solidButton: 28, 28, 28;
    --gfb-color-outlineButton: 28, 28, 28;
    --gfb-color-background: 255, 255, 255;
}

:root{
      --brand-color: #2a2857;
    --color-accent: #ffb500;
    --color-accent-alpha: rgba(255, 181, 0, 0.08);
    --color-accent-hover: #cc9100;
    --color-accent-2: #c0dbff;
    --color-accent-2-darker: #8dbeff;
    --color-accent-3: #c1e4f8;
    --color-accent-3-darker: #93d0f3;
    --color-accent-4: #71b2fc;
    --color-accent-4-darker: #3f97fb;
    --color-body-text: #201c1a;
    --color-body-text-alpha: rgba(32, 28, 26, 0.5);
    --color-white: #fbf9eb;
    --color-off-white: #f5f4f3;
    --color-black: #201c1a;
    --color-theme-dark: #201c1a;
    --color-theme-light: #ffffff;
    --color-theme-custom-1: #2a2857;
    --font-heading-h1: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h1-weight: 300;
    --h1-font-case: none;
    --font-heading-h1-size-mobile: 60px;
    --font-heading-h1-line-height-mobile: 65px;
    --font-heading-h1-spacing-mobile: 0px;
    --font-heading-h1-size: 84px;
    --font-heading-h1-size-dynamic: clamp(63.0px, calc(11.31px + 5.048vw), 314.19px);
    --font-heading-h1-line-height: 84px;
    --font-heading-h1-spacing: 0px;
    --font-heading-h2: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h2-weight: 300;
    --h2-font-case: none;
    --font-heading-h2-size-mobile: 46px;
    --font-heading-h2-line-height-mobile: 48px;
    --font-heading-h2-spacing-mobile: -0.5px;
    --font-heading-h2-size: 60px;
    --font-heading-h2-size-dynamic: clamp(45.0px, calc(8.08px + 3.606vw), 224.42px);
    --font-heading-h2-line-height: 61px;
    --font-heading-h2-spacing: -0.5px;
    --font-heading-h2-bold-size-mobile: px;
    --font-heading-h2-bold-size: px;
    --font-heading-h3: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h3-weight: 300;
    --h3-font-case: none;
    --font-heading-h3-size-mobile: 32px;
    --font-heading-h3-line-height-mobile: 37px;
    --font-heading-h3-spacing-mobile: -0.5px;
    --font-heading-h3-size: 40px;
    --font-heading-h3-size-dynamic: clamp(30.0px, calc(5.38px + 2.404vw), 149.62px);
    --font-heading-h3-line-height: 40px;
    --font-heading-h3-spacing: 0px;
    --font-heading-h3-bold-size-mobile: px;
    --font-heading-h3-bold-size: px;
    --font-heading-h4: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h4-weight: 300;
    --h4-font-case: none;
    --font-heading-h4-size-mobile: 28px;
    --font-heading-h4-line-height-mobile: 32px;
    --font-heading-h4-spacing-mobile: 0px;
    --font-heading-h4-size: 32px;
    --font-heading-h4-size-dynamic: clamp(24.0px, calc(4.31px + 1.923vw), 119.69px);
    --font-heading-h4-line-height: 37px;
    --font-heading-h4-spacing: -0.5px;
    --font-heading-h5: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h5-weight: 300;
    --h5-font-case: none;
    --font-heading-h5-size-mobile: 27px;
    --font-heading-h5-line-height-mobile: 30px;
    --font-heading-h5-spacing-mobile: -1px;
    --font-heading-h5-size: 32px;
    --font-heading-h5-size-dynamic: clamp(24.0px, calc(4.31px + 1.923vw), 119.69px);
    --font-heading-h5-line-height: 36px;
    --font-heading-h5-spacing: 0px;
    --font-heading-h6: 'Reckless', Helvetica, Arial, sans-serif;
    --font-heading-h6-weight: 700;
    --h6-font-case: none;
    --font-heading-h6-size-mobile: 21px;
    --font-heading-h6-line-height-mobile: 21px;
    --font-heading-h6-spacing-mobile: -0.1px;
    --font-heading-h6-size: 27px;
    --font-heading-h6-size-dynamic: clamp(20.25px, calc(3.63px + 1.623vw), 100.99px);
    --font-heading-h6-line-height: 27px;
    --font-heading-h6-spacing: -0.2px;
    --font-heading-small-title: 'Roboto Mono', Figtree, sans-serif;
    --font-heading-small-title-weight: 400;
    --small_title-font-case: uppercase;
    --font-heading-small-title-spacing: 0px;
    --font-heading-small-title-size: 16px;
    --font-heading-small-title-size-mobile: 14px;
    --font-menu: ;
    --font-menu-weight: ;
    --font-menu-spacing: px;
    --font-menu-size: px;
    --font-footer-menu: ,;
    --font-footer-menu-weight: ;
    --font-footer-menu-spacing: px;
    --font-footer-menu-size: px;
    --font-body: Figtree, sans-serif;
    --font-body-color: #201c1a;
    --font-body-size-xsmall: 14px;
    --font-body-size-xsmall-mobile: 14px;
    --font-body-size-small: 16px;
    --font-body-size-small-mobile: 16px;
    --font-body-size-regular: 18px;
    --font-body-size-regular-mobile: 18px;
    --font-body-size-large: 22px;
    --font-body-size-large-mobile: 20px;
    --font-body-size-xlarge: 24px;
    --font-body-size-xlarge-mobile: 22px;
    --paragraph-line-height: 25px;
    --paragraph-letter-spacing: 0.1px;
    --paragraph-font-weight: 400;
    --custom-font-name-1: 'Reckless';
    --custom-font-name-2: 'Midnight';
    --custom-font-name-3: 'Roboto Mono';
    --custom-font-name-4: '';
    --color-main-background: #fffefb;
    --overlay-color: #444444;
    --overlay-color-alpha: rgba(68, 68, 68, 0.8);
    --global-border-radius: 30px;
    --global-border-width: 1px;
    --grain-texture: url(//www.twoleavestea.com/cdn/shop/t/186/assets/grain-texture_92x.png?v=50603);
    --header-height-sticky: 67px;
    --header-height: 67px;
    --header-height-mobile-sticky: 70px;
    --header-height-mobile: 70px;
    --header-font-family: Figtree, sans-serif;
    --header-font-case: inherit;
    --header-font-weight: 400;
    --header-font-size-mobile: 18px;
    --header-line-height-mobile: 26px;
    --header-letter-spacing-mobile: -0.2px;
    --header-font-size: 24px;
    --header-line-height: 27px;
    --header-letter-spacing: 0px;
    --header-bg-color: rgba(0, 0, 0, 0);
    --header-text-color: #fffaf6;
    --header-bg-color-sticky: #fffaf6;
    --header-text-color-sticky: #000000;
    --header-menu-bg-color-hover: #fffaf6;
    --header-menu-text-color-hover: #fffaf6;
    --announcement-bar-bg-color: linear-gradient(123deg, rgba(211, 69, 19, 1), rgba(185, 15, 0, 1) 100%);
    --announcement-bar-text-color: #fffaf6;
    --footer-font-family: 'Reckless', Helvetica, Arial, sans-serif;
    --footer-font-case: none;
    --footer-font-weight: 400;
    --footer-font-size-mobile: 18px;
    --footer-line-height-mobile: 20px;
    --footer-letter-spacing-mobile: -0.2px;
    --footer-font-size: 18px;
    --footer-line-height: 20px;
    --footer-letter-spacing: 0.5px;
    --footer-background-color: #9C2202;
    --footer-font-color: ;
    --footer-font-color-hover: #fffaf6;
    --footer-socket-bg-color: rgba(0, 0, 0, 0);
    --footer-socket-text-color: ;
    --offcanvas-font-family: Figtree, sans-serif;
    --offcanvas-font-case: none;
    --offcanvas-font-weight: 400;
    --offcanvas-font-size-mobile: 23px;
    --offcanvas-line-height-mobile: 23px;
    --offcanvas-letter-spacing-mobile: 0px;
    --offcanvas-font-size: 15px;
    --offcanvas-line-height: 15px;
    --offcanvas-letter-spacing: 0px;
    --offcanvas-offset-mobile: 0px;
    --offcanvas-offset-desktop: 15px;
    --offcanvas-border-radius-mobile: 12px;
    --offcanvas-border-radius-desktop: 12px;
    --offcanvas-panel-bg-color: #daeaff;
    --offcanvas-panel-menu-color: #201c1a;
    --badge-color-new: #0e1922;
    --badge-bg-color-new: #fecf07;
    --badge-color-bestseller: #0e1922;
    --badge-bg-color-bestseller: #ffffff;
    --badge-color-lowstock: #0e1922;
    --badge-bg-color-lowstock: #ea6854;
    --badge-color-comingsoon: #0e1922;
    --badge-bg-color-comingsoon: #ea6854;
    --carousel-banner-height-small: 17.875rem;
    --carousel-banner-height-medium: 85vh;
    --carousel-banner-height-large: 100vh;
    --button-font-family: Figtree, sans-serif;
    --button-font-case: none;
    --button-font-weight: 400;
    --button-font-size-mobile: 18px;
    --button-line-height-mobile: 18px;
    --button-letter-spacing-mobile: -0.3px;
    --button-font-size: 18px;
    --button-line-height: 18px;
    --button-letter-spacing: -0.3px;
    --button-border-width: 1px;
    --button-border-radius: 50px;
    --primary-button-bg-color: #b50034;
    --primary-button-bg-gradient: linear-gradient(123deg, rgba(211, 69, 19, 1), rgba(185, 15, 0, 1) 100%);
    --primary-button-text-color: #fffaf6;
    --primary-button-border-color: rgba(0, 0, 0, 0);
    --primary-button-hover-bg-color: rgba(0, 0, 0, 0);
    --primary-button-hover-bg-gradient: linear-gradient(123deg, rgba(211, 69, 19, 1), rgba(185, 15, 0, 1) 100%);
    --primary-button-hover-text-color: #fffaf6;
    --primary-button-border-color-hover: rgba(0, 0, 0, 0);
    --secondary-button-bg-color: #fffaf6;
    --secondary-button-text-color: #231f20;
    --secondary-button-border-color: #231f20;
    --secondary-button-hover-bg-color: #fffaf6;
    --secondary-button-hover-text-color: #231f20;
    --secondary-button-border-color-hover: #231f20;
    --tertiary-button-bg-color: #fffaf6;
    --tertiary-button-text-color: #b50034;
    --tertiary-button-border-color: ;
    --tertiary-button-hover-bg-color: #fffaf6;
    --tertiary-button-hover-text-color: #b50034;
    --tertiary-button-border-color-hover: ;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

img{
  max-width: 100%;
  display: block;
}